*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: #ffce00;
}

.rodape {
  background-color: #ffce00;
  text-align: center;
  padding: 30px;
  
}
.logo {

}

#divBusca{
    background-color:#252422;
    border-style: solid 10px;
    border-radius:10px;
    width:20%;
    padding:30px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    font-style:italic;
    font-size:18px;
    border:none;
    height: 32px;
    width:260px;
    padding:10px;
  }

  .loginCadastrar{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #252422 ;
    color:#ffffff;
    border-radius:10px;
    margin: 20px;
    padding: 10px;
  }

  form{
    width: 300px;
    margin: 4% auto;
    display: block;
    text-align: center;
  
  
  }
  input{
    width: 300px;
    height: 20px;
    margin: 4%;
    display: center;
    text-align: left;
  }
    
.uf{
  width: 30px;
  height: 20px;
  margin: 4% auto;
display: block center;
text-align: left;}

.numero{
  width: 40px;
  height: 20px;
  margin: 4% auto;
  display: block center;
  text-align: left;}

  .bairro{
    width: 60px;
    height: 20px;
    margin: 4% auto;
    display: block center;
    text-align: left;}

    .cidade{
      width: 180px;
      height: 20px;
      margin: 4% auto;
      display: block center;
      text-align: left;}
      

  .seletor{
  text-align: left;
  width: 10%;
  height: 10%;
    
  }
  
    .titulo1{
      margin: 4%;
      line-height: 10%;
      text-align: center;
    }
  
    .titulo2{
      margin: 4% auto;
      font-size: 80%;
      line-height: 100%;
      text-align: left;
    }
    .titulo3{
      margin: 4%;
      font-size: 80%;
      line-height: 50%;
      color: rgb(90, 90, 90);
    }
    .btn{
    margin 50%;
    }

  .login{
    display: CENTER;
    align-items: center;
    text-decoration: none;
    background-color: #252422 ;
    color:#ffffff;
    border-radius:10PX;
    margin: 4%;
    padding: 10PX;
  }

  